 /* ============================
        Banner-About
        ============================ */
        /* Estilos base para el banner */
        .banner-container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }
        
        .banner-image {
            width: 100%;
            display: block;
            object-fit: cover;
            height: 300px; 
            object-position: 0 -110px;
        }
        
        .banner-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.664); 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;
        }

        .banner-text-offset {
            margin-left: 40px; 
            align-items: flex-start; 
            text-align: left; 
        }
        
        .banner-content h1 {
            text-align: left;
            font-size: 3rem;
            margin-bottom: 1rem;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .banner-content p {
            text-align: left;
            font-size: 1.5rem;
            margin: 0;
        }
        
        /* Media Queries para responsive */
        
        /* Tablets */
        @media (max-width: 992px) {
            .banner-image {
                height: 250px;
                object-position: center;
            }
            
            .banner-content h1 {
                font-size: 2.5rem;
            }
            
            .banner-content p {
                font-size: 1.3rem;
            }
            .banner-container{
                margin-bottom: 30px;
            }
        }
        
        /* Tablets pequeñas */
        @media (max-width: 768px) {
            .banner-image {
                height: 300px;
                object-position: center;
            }
            
            .banner-content h1 {
                font-size: 2.2rem;
            }
            
            .banner-content p {
                font-size: 1.1rem;
            }
            .banner-container{
                margin-bottom: 30px;
            }
        }
        
        /* Móviles */
        @media (max-width: 576px) {
            .banner-image {
                height: 300px;
                object-position: center;
            }
            
            .banner-content h1 {
                font-size: 1.8rem;
            }
            
            .banner-content p {
                font-size: 1rem;
            }
            .banner-container{
                margin-bottom: 30px;
            }
        }
        
        /* Móviles muy pequeños */
        @media (max-width: 400px) {
            .banner-image {
                height: 250px;
                object-position: center;
            }
            
            .banner-content h1 {
                font-size: 1.5rem;
            }
            
            .banner-content p {
                font-size: 0.9rem;
            }
            .banner-container{
                margin-bottom: 30px;
            }
        }

        
        /* ============================
        Nuestro Blog Section
        ============================ */
        .blog-section {
            padding: 2rem 1rem;
            max-width: 1252px;
            margin: 0 auto;
            text-align: center;
          }
          
          .blog-title {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
          }
          
          .blog-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
          }
          
          .blog-card {
            border: 1px solid #ddd;
            overflow: hidden;
            text-align: left;
            padding-bottom: 25px;
          }
          
          .blog-card img {
            width: 100%;
            height: 230px;
            object-fit: cover;
            /* max-height: 200px; */
          }
          
          .blog-card h2 {
            font-size: 1rem;
            padding: 1rem;
            font-weight: 600;
          }
          
          .blog-card p {
            padding: 0 1rem;
            color: #333;
          }
          
          .btn-green,
          .btn-yellow {
            margin: 1rem;
            padding: 0.35rem 1.5rem;
            border: none;
            border-radius: 9999px;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
          
          .btn-green {
            background-color: #00b22d;
          }
          
          .btn-yellow {
            background-color: #ffc800;
          }

          .btn-container {
            margin-top: 2rem;
            text-align: center;
          }
          
          .btn-see-more {
            background-color: #ffc800;
            color: black;
            padding: 0.45rem 4rem;
            border: none;
            border-radius: 9999px;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }
          
          .btn-see-more:hover {
            background-color: #00701c;
            color: rgb(255, 255, 255);
          }
          
          
          /* Media Queries */
          @media (min-width: 640px) {
            .blog-grid {
              grid-template-columns: repeat(2, 1fr);
            }
          }
          
          @media (min-width: 1024px) {
            .blog-grid {
              grid-template-columns: repeat(3, 1fr);
            }
          }
          